# Make vim the default editor.
export EDITOR='vim';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Always enable colored `grep` output.
export GREP_OPTIONS='--color=auto';

# These are used for Trello's CLI gem
export TRELLO_DEVELOPER_PUBLIC_KEY=32c647a47bc0ceb6dbfaf23a786d30b5
export TRELLO_MEMBER_TOKEN=164ee2be2f4c7646833b080704f88f917e284bd83fa85805ac8d506c6c095d0a
