[user]
	email = joey94jk@gmail.com
	name = Joey Kaan
[core]
	excludesfile = /Users/joey/.gitignore_global
	editor = vim
[push]
	default = simple
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red
  new = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[credential]
  helper = osxkeychain
[alias]
	c = clone
	co = checkout
	ec = config --global -e
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
	cob = checkout -b
	cm = !git -A && git commit -m
	save = !git add -A && git commit -m 'SAVEPOINT'
	wip = commit -am "WIP"
	undo = reset HEAD~1 --mixed
	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
	l = log --graph --decorate --pretty=oneline --abbrev-commit
[branch]
	autosetuprebase = always
[apply]
	whitespace = warn
