[submodule "utils/dracula-theme"]
	path = utils/dracula-theme
	url = git@github.com:zenorocha/dracula-theme.git
[submodule "utils/FiraCode"]
	path = utils/FiraCode
	url = git@github.com:tonsky/FiraCode.git
