# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled files by ZSH
*.zwc
.zcompdump
.zcompdump.*

# Folder that vim-plug installs the plugins in.
plugged

# History file of zsh
.zhistory

# Folder that Neovim uses to generate shada files
home/.local/share/nvim/shada/

# Folder used by Neovim for logs
home/.local/share/nvim/log
