# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled files by ZSH
*.zwc
.zcompdump
.zcompdump.*

# Folder that vim-plug installs the plugins in.
plugged

# History file of zsh
.zhistory

# Folder used for configuration by quite some applications
home/.local/share/
