[user]
  email = j.kaan@coolblue.nl
  name = Joey Kaan
  signingkey = 6AB4D30034410E02
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  whitespace = trailing-space,space-before-tab
[push]
  default = current
[color]
  ui = always
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHightlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[credential]
  helper = osxkeychain
[alias]
  c = clone
  pf = push --force-with-lease
  co = checkout
  ec = config --global -e
  up = !git pull --rebase --prune $@ && git submodule update --init --recursive
  cob = checkout -b
  cm = !git -A && git commit -m
  save = !git add -A && git commit -m 'SAVEPOINT'
  wip = commit -am "WIP"
  undo = reset HEAD~1 --mixed
  wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
  l = log --graph --decorate --pretty=oneline --abbrev-commit
  lN = "!f() { git log -$1 --pretty --oneline; }; f"
  contribs = shortlog -sn
  wow = log --all --graph --decorate --oneline --simplify-by-decoration
  lines = "diff --shortstat '@{0 day ago}'"
[branch]
  autosetuprebase = always
[apply]
  whitespace = warn
[commit]
  template = ~/.git-message-template
  gpgsign = false
[pager]
  diff = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX
[help]
  autocorrect = -1
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[merge]
  stat = true
  tool = Kaleidoscope
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
  tool = Kaleidoscope
[difftool]
  prompt = false
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[mergetool]
  prompt = false

# Use git and git+ssh instead of https
#[url "git://github.com/"]
 # insteadOf = https://github.com/
#[url "git@github.com:"]
#  pushInsteadOf = "git://github.com/"
#[url "git@github.com:"]
#  pushInsteadOf = "https://github.com/"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[url "git@github.com:"]
  insteadOf = "https://github.com/"
  pushInsteadOf = "https://github.com/"
  pushInsteadOf = "git://github.com/"
