[user]
  email = jkaan@users.noreply.github.com
  name = Joey Kaan
  signingkey = 69E2170FD7CC5B62
[core]
  excludesfile = ~/.gitignore_global
  editor = nvim
  whitespace = trailing-space,space-before-tab
  hookspath = /Users/joeykaan/.dotfiles/githooks
[include]
  path = ~/.gitconfig-user
[push]
  default = current
[color]
  ui = always
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHightlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[credential]
  helper = osxkeychain
[alias]
  f = "!f() { git checkout -b feature/$1; }; f"
  bu = "!f() { git checkout -b bug/$1; }; f"
  up = "!f() { git fetch --multiple upstream origin && git pull $1 $2 --autostash; }; f"
  prq = "!f() { git pf && git pull-request -a jkaan }; f"
  b = branch 
  co = commit
  coa = commit --amend
  d = diff
  dc = diff --cached
  a = add
  s = status -s
  c = clone
  p = push
  r = remote
  pf = push --force-with-lease
  l = log --graph --decorate --pretty=oneline --abbrev-commit
  cd = checkout
  uns = reset HEAD --
  brmv = "! git branch --no-color | grep -v master | grep -v ^* | xargs git branch -D"
  rei = rebase -i
  re = rebase
  rec = rebase --continue
  rea = rebase --abort
  res = rebase --skip
  fap = "! git ls-files -m -o --exclude-standard | fzf -m --print0 | xargs -0 -o -t git add -p"
  fa = "! git ls-files -m -o --exclude-standard | fzf -m --print0 | xargs -0 git add"
[apply]
  whitespace = warn
[commit]
  template = ~/.git-message-template
  gpgsign = true
[pager]
  diff = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX
[help]
  autocorrect = -1
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[merge]
  stat = true
  tool = Kaleidoscope
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
  tool = Kaleidoscope
	colorMoved = dimmed_zebra
[difftool]
  prompt = false
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[mergetool]
  prompt = false
[url "git@github.com:"]
  insteadOf = "https://github.com/"
  pushInsteadOf = "https://github.com/"
  pushInsteadOf = "git://github.com/"
[pull]
	rebase = true
[rebase]
	autosquash = true
[fetch]
  prune = true
[credential]
  helper = netlify
